In [2]:
print("Madhav")

Madhav

In [3]:
import pandas as pd
print(pd.__version__)

2.2.3

In [6]:
read_file = pd.read_csv("people-100.csv", index_col='Index')

In [7]:
print(read_file.head())

               User Id First Name Last Name     Sex  \
Index
1      88F7B33d2bcf9f5     Shelby   Terrell    Male
2      f90cD3E76f1A9b9    Phillip   Summers  Female
3      DbeAb8CcdfeFC2c   Kristine    Travis    Male
4      A31Bee3c201ef58    Yesenia  Martinez    Male
5      1bA7A3dc874da3c       Lori      Todd    Male

                            Email                   Phone Date of birth  \
Index
1            elijah57@example.net  001-084-906-7849x73518    1945-10-26
2           bethany14@example.com       214.112.6044x4913    1910-03-24
3           bthompson@example.com            277.609.7938    1992-07-02
4       kaitlinkaiser@example.com            584.094.6111    2017-08-03
5      buchananmanuel@example.net       689-207-3558x7233    1938-12-01

                Job Title
Index
1         Games developer
2          Phytotherapist
3               Homeopath
4       Market researcher
5      Veterinary surgeon

In [14]:
Shelby = read_file[read_file['First Name'] == 'Shelby']

In [15]:
print(Shelby)

               User Id First Name Last Name   Sex                 Email  \
Index
1      88F7B33d2bcf9f5     Shelby   Terrell  Male  elijah57@example.net

                        Phone Date of birth        Job Title
Index
1      001-084-906-7849x73518    1945-10-26  Games developer

In [18]:
get_first_name = read_file.get('First Name')

In [20]:
print(get_first_name.head(4))

Index
1      Shelby
2     Phillip
3    Kristine
4     Yesenia
Name: First Name, dtype: object

In [25]:
fetch_details_with_multiple_condition = read_file[(read_file['First Name'] == 'Phillip') | (read_file['First Name'] == 'Kristine')]

In [26]:
fetch_details_with_multiple_condition

,User Id,First Name,Last Name,Sex,Email,Phone,Date of birth,Job Title
Index,,,,,,,,
2,f90cD3E76f1A9b9,Phillip,Summers,Female,bethany14@example.com,214.112.6044x4913,1910-03-24,Phytotherapist
3,DbeAb8CcdfeFC2c,Kristine,Travis,Male,bthompson@example.com,277.609.7938,1992-07-02,Homeopath

In [27]:
read_file['Full-Name'] = read_file['First Name'] + " " + read_file['Last Name']

In [28]:
print(read_file.head())

               User Id First Name Last Name     Sex  \
Index
1      88F7B33d2bcf9f5     Shelby   Terrell    Male
2      f90cD3E76f1A9b9    Phillip   Summers  Female
3      DbeAb8CcdfeFC2c   Kristine    Travis    Male
4      A31Bee3c201ef58    Yesenia  Martinez    Male
5      1bA7A3dc874da3c       Lori      Todd    Male

                            Email                   Phone Date of birth  \
Index
1            elijah57@example.net  001-084-906-7849x73518    1945-10-26
2           bethany14@example.com       214.112.6044x4913    1910-03-24
3           bthompson@example.com            277.609.7938    1992-07-02
4       kaitlinkaiser@example.com            584.094.6111    2017-08-03
5      buchananmanuel@example.net       689-207-3558x7233    1938-12-01

                Job Title         Full-Name
Index
1         Games developer    Shelby Terrell
2          Phytotherapist   Phillip Summers
3               Homeopath   Kristine Travis
4       Market researcher  Yesenia Martinez
5      Veterinary surgeon         Lori Todd

In [30]:
read_file['Contacts'] = read_file.apply(lambda row: row['Email'] + " " + row['Phone'], axis = 1)

In [31]:
print(read_file.head())

               User Id First Name Last Name     Sex  \
Index
1      88F7B33d2bcf9f5     Shelby   Terrell    Male
2      f90cD3E76f1A9b9    Phillip   Summers  Female
3      DbeAb8CcdfeFC2c   Kristine    Travis    Male
4      A31Bee3c201ef58    Yesenia  Martinez    Male
5      1bA7A3dc874da3c       Lori      Todd    Male

                            Email                   Phone Date of birth  \
Index
1            elijah57@example.net  001-084-906-7849x73518    1945-10-26
2           bethany14@example.com       214.112.6044x4913    1910-03-24
3           bthompson@example.com            277.609.7938    1992-07-02
4       kaitlinkaiser@example.com            584.094.6111    2017-08-03
5      buchananmanuel@example.net       689-207-3558x7233    1938-12-01

                Job Title         Full-Name  \
Index
1         Games developer    Shelby Terrell
2          Phytotherapist   Phillip Summers
3               Homeopath   Kristine Travis
4       Market researcher  Yesenia Martinez
5      Veterinary surgeon         Lori Todd

                                           Contacts
Index
1       elijah57@example.net 001-084-906-7849x73518
2           bethany14@example.com 214.112.6044x4913
3                bthompson@example.com 277.609.7938
4            kaitlinkaiser@example.com 584.094.6111
5      buchananmanuel@example.net 689-207-3558x7233

In [32]:
read_file.to_csv("people-100.csv", index=False)

In [16]:
read_file = pd.read_csv("people-100.csv")
print(read_file.head())

           User Id First Name Last Name     Sex                       Email  \
0  88F7B33d2bcf9f5     Shelby   Terrell    Male        elijah57@example.net
1  f90cD3E76f1A9b9    Phillip   Summers  Female       bethany14@example.com
2  DbeAb8CcdfeFC2c   Kristine    Travis    Male       bthompson@example.com
3  A31Bee3c201ef58    Yesenia  Martinez    Male   kaitlinkaiser@example.com
4  1bA7A3dc874da3c       Lori      Todd    Male  buchananmanuel@example.net

                    Phone Date of birth           Job Title         Full-Name  \
0  001-084-906-7849x73518    1945-10-26     Games developer    Shelby Terrell
1       214.112.6044x4913    1910-03-24      Phytotherapist   Phillip Summers
2            277.609.7938    1992-07-02           Homeopath   Kristine Travis
3            584.094.6111    2017-08-03   Market researcher  Yesenia Martinez
4       689-207-3558x7233    1938-12-01  Veterinary surgeon         Lori Todd

                                       Contacts
0   elijah57@example.net 001-084-906-7849x73518
1       bethany14@example.com 214.112.6044x4913
2            bthompson@example.com 277.609.7938
3        kaitlinkaiser@example.com 584.094.6111
4  buchananmanuel@example.net 689-207-3558x7233

In [5]:
print(read_file.columns)

Index(['User Id', 'First Name', 'Last Name', 'Sex', 'Email', 'Phone',
       'Date of birth', 'Job Title', 'Full-Name', 'Contacts'],
      dtype='object')

In [6]:
read_file = read_file.groupby('Sex').count()

In [7]:
print(read_file)

        User Id  First Name  Last Name  Email  Phone  Date of birth  \
Sex
Female       53          53         53     53     53             53
Male         47          47         47     47     47             47

        Job Title  Full-Name  Contacts
Sex
Female         53         53        53
Male           47         47        47

In [8]:
read_first_name = read_file.groupby('Sex')['First Name'].apply(lambda x : x.count())

In [9]:
print(read_first_name)

Sex
Female    1
Male      1
Name: First Name, dtype: int64

In [12]:
print(read_file.columns)

Index(['User Id', 'First Name', 'Last Name', 'Email', 'Phone', 'Date of birth',
       'Job Title', 'Full-Name', 'Contacts'],
      dtype='object')

In [20]:
print(read_file['Job Title'].unique())

['Games developer' 'Phytotherapist' 'Homeopath' 'Market researcher'
 'Veterinary surgeon' 'Waste management officer' 'Intelligence analyst'
 'Hydrogeologist' 'Lawyer' 'Engineer, site'
 'Advertising account executive' 'Warden/ranger'
 'Scientist, clinical (histocompatibility and immunogenetics)'
 'Social worker' 'Agricultural consultant'
 'Sport and exercise psychologist' 'Secretary/administrator'
 'Audiological scientist' 'Teacher, adult education' 'Paediatric nurse'
 'Scientist, marine' 'Commercial horticulturist'
 'Outdoor activities/education manager' 'Drilling engineer'
 'Systems analyst' 'Conservation officer, nature' 'Counsellor'
 'Recycling officer' 'Art gallery manager' 'Gaffer' 'Food technologist'
 'Building services engineer' 'Seismic interpreter' 'Engineer, biomedical'
 'Set designer' 'Research scientist (life sciences)'
 'Accountant, chartered management' 'Surveyor, quantity'
 'Information systems manager' 'Accounting technician'
 'Management consultant' 'Make' 'Retail banker' 'Commissioning editor'
 'Jewellery designer' 'Education officer, museum'
 'Estate manager/land agent' 'Physiotherapist'
 'Passenger transport manager' 'Call centre manager'
 'Special educational needs teacher' 'Museum/gallery exhibitions officer'
 'Pension scheme manager' 'Archaeologist'
 'Historic buildings inspector/conservation officer' 'Petroleum engineer'
 'Curator' 'Neurosurgeon' 'Chiropractor' 'Biochemist, clinical'
 'Scientist, water quality' 'Hydrologist' 'Hospital pharmacist'
 'Warehouse manager' 'Physiological scientist'
 'English as a second language teacher' 'Financial trader'
 'Structural engineer' 'Race relations officer' 'Psychologist, forensic'
 'Newspaper journalist' 'Public house manager'
 'Careers information officer' 'Economist' 'Contracting civil engineer'
 'Higher education lecturer' 'Lecturer, further education'
 'Teacher, early years/pre' 'Travel agency manager'
 'Technical sales engineer' 'Charity fundraiser' 'Patent attorney'
 'Conservator, furniture' 'Dance movement psychotherapist'
 'Financial planner' 'Air broker' 'Software engineer' 'Barrister'
 'Police officer' 'Broadcast journalist' 'IT sales professional']