In [50]:
import os
import pandas as pd
import ast

In [7]:
current_dir = os.getcwd()
print(current_dir)

filepath_movies_genres = os.path.join(current_dir, "movies", "movies_genres.csv")
filepath_movies_overview = os.path.join(current_dir, "movies", "movies_overview.csv")

print(filepath_movies_genres)
print(filepath_movies_overview)

d:\Python
d:\Python\movies\movies_genres.csv
d:\Python\movies\movies_overview.csv

In [9]:
read_genres = pd.read_csv(filepath_movies_genres)
print(read_genres.columns)

Index(['id', 'name'], dtype='object')

In [10]:
print(read_genres.describe())

                 id
count     19.000000
mean    3389.736842
std     4980.456972
min       12.000000
25%       27.500000
50%       53.000000
75%    10025.000000
max    10770.000000

In [22]:
print(read_genres.head(4))

   id       name
0  28     Action
1  12  Adventure
2  16  Animation
3  35     Comedy

In [13]:
print(read_genres['id'].isna().sum())
print(read_genres['name'].isna().sum())

0
0

In [14]:
print(type(read_genres))

<class 'pandas.core.frame.DataFrame'>

In [16]:
read_overview = pd.read_csv(filepath_movies_overview)
print(read_overview.columns)

Index(['title', 'overview', 'genre_ids'], dtype='object')

In [17]:
print(type(read_overview))

<class 'pandas.core.frame.DataFrame'>

In [18]:
print(read_overview.head(4))

                      title  \
0  The Shawshank Redemption
1             The Godfather
2     The Godfather Part II
3          Schindler's List

                                            overview        genre_ids
0  Imprisoned in the 1940s for the double murder ...         [18, 80]
1  Spanning the years 1945 to 1955, a chronicle o...         [18, 80]
2  In the continuing saga of the Corleone crime f...         [18, 80]
3  The true story of how businessman Oskar Schind...  [18, 36, 10752]

In [20]:
print(read_overview['genre_ids'].isna().sum())
print(read_overview['overview'].isna().sum())
print(read_overview['title'].isna().sum())

0
0
0

In [29]:
print(read_overview.head(4))
print(read_genres.head(4))

                      title  \
0  The Shawshank Redemption
1             The Godfather
2     The Godfather Part II
3          Schindler's List

                                            overview        genre_ids
0  Imprisoned in the 1940s for the double murder ...         [18, 80]
1  Spanning the years 1945 to 1955, a chronicle o...         [18, 80]
2  In the continuing saga of the Corleone crime f...         [18, 80]
3  The true story of how businessman Oskar Schind...  [18, 36, 10752]
   id       name
0  28     Action
1  12  Adventure
2  16  Animation
3  35     Comedy

In [34]:
print(type(read_genres))
print(read_genres.size)

<class 'pandas.core.frame.DataFrame'>
38

In [35]:
print(type(read_overview))
print(read_overview.size)

<class 'pandas.core.frame.DataFrame'>
29940

In [49]:
print(read_overview[read_overview['genre_ids'].apply(lambda row : row == '[18, 80]')])

                                           title  \
0                       The Shawshank Redemption
1                                  The Godfather
2                          The Godfather Part II
16                                    GoodFellas
23                                   City of God
28                   Once Upon a Time in America
241                     The Young and the Damned
319                          Catch Me If You Can
334                                Trainspotting
481                           Dancer in the Dark
482                                 A Bronx Tale
623                                      Polisse
1002                                     Brother
1046                           American Gangster
1076                              Scarlet Street
1233                                  Breathless
1317                                  The Insult
1360                Once Upon a Time in Anatolia
1366                            Midnight Express
1390                             A Perfect World
1400                             This Is England
1424                         Birdman of Alcatraz
1549                            The Unforgivable
1557                                 Miss Sloane
1636                                    El Angel
1666                                   Leviathan
1677                      The Basketball Diaries
1759                               Bad Education
1860                                      Cherry
2709                                Molly's Game
2866                            Drugstore Cowboy
3017                                Mean Streets
3141                                 7 Prisoners
3316  Extremely Wicked, Shockingly Evil and Vile
3336                                    Rounders
3480                  The Place Beyond the Pines
3686                                 Street Flow
3795                                 Kids Return
3805                                The Woodsman
3822                                 In the Fade
3825                                         SK1
3892                                    Gomorrah
3897                                        Kids
3931                                  Hard Eight
4033                             American Hustle
4086                                    Piranhas
4178                          Siberian Education
4331                                    The Drop
4487                                 In Her Name
4827                                          21
5015                                Frozen River
5057                           Hot Summer Nights
5986     Things to Do in Denver When You're Dead
7245  Bad Lieutenant: Port of Call - New Orleans
7696             Wall Street: Money Never Sleeps
8466                            London Boulevard
9417                              The Bling Ring
9647                             Spring Breakers

                                               overview genre_ids
0     Imprisoned in the 1940s for the double murder ...  [18, 80]
1     Spanning the years 1945 to 1955, a chronicle o...  [18, 80]
2     In the continuing saga of the Corleone crime f...  [18, 80]
16    The true story of Henry Hill, a half-Irish, ha...  [18, 80]
23    In the poverty-stricken favelas of Rio de Jane...  [18, 80]
28    A former Prohibition-era Jewish gangster retur...  [18, 80]
241   A group of juvenile delinquents live a violent...  [18, 80]
319   A true story about Frank Abagnale Jr. who, bef...  [18, 80]
334   Heroin addict Mark Renton stumbles through bad...  [18, 80]
481   Selma, a Czech immigrant on the verge of blind...  [18, 80]
482   Set in the Bronx during the tumultuous 1960s, ...  [18, 80]
623   Paris, France. Fred and his colleagues, member...  [18, 80]
1002  Danila goes to his successful brother, Victor,...  [18, 80]
1046  Following the death of his employer and mentor...  [18, 80]
1076  Cashier and part-time starving artist Christop...  [18, 80]
1233  A small-time thief steals a car and impulsivel...  [18, 80]
1317  After an emotional exchange between a Lebanese...  [18, 80]
1360  A group of men lead a search for a victim of a...  [18, 80]
1366  Billy Hayes is caught attempting to smuggle dr...  [18, 80]
1390  A kidnapped boy strikes up a friendship with h...  [18, 80]
1400  A story about a troubled boy growing up in Eng...  [18, 80]
1424  After killing a prison guard, convict Robert S...  [18, 80]
1549  A woman is released from prison after serving ...  [18, 80]
1557  An ambitious lobbyist faces off against the po...  [18, 80]
1636  Buenos Aires, Argentina, 1971. Carlos Robledo ...  [18, 80]
1666  In a Russian coastal town, Kolya is forced to ...  [18, 80]
1677  A high school basketball player’s life turns u...  [18, 80]
1759  An examination on the effect of Franco-era rel...  [18, 80]
1860  Cherry drifts from college dropout to army med...  [18, 80]
2709  Molly Bloom, a young skier and former Olympic ...  [18, 80]
2866  Portland, Oregon, 1971. Bob Hughes is the char...  [18, 80]
3017  A small-time hood must choose from among love,...  [18, 80]
3141  An impoverished teen seeking to escape the clu...  [18, 80]
3316  A chronicle of the crimes of Ted Bundy, from t...  [18, 80]
3336  A young reformed gambler must return to playin...  [18, 80]
3480  A motorcycle stunt rider considers committing ...  [18, 80]
3686  Noumouké, from the suburb of Paris, is about t...  [18, 80]
3795  Shinji and Masaru spend most of their school d...  [18, 80]
3805  After twelve years in prison, Walter returns h...  [18, 80]
3822  Katja's life collapses after the deaths of her...  [18, 80]
3825  The hunt, capture and trial of Guy Georges, on...  [18, 80]
3892  An inside look at Italy's modern-day crime fam...  [18, 80]
3897  A day in the life of a group of teens as they ...  [18, 80]
3931  A stranger mentors a young Reno gambler who we...  [18, 80]
4033  A conman and his seductive partner are forced ...  [18, 80]
4086  A gang of teenage boys stalk the streets of Na...  [18, 80]
4178  The story of a gang of children growing up in ...  [18, 80]
4331  Bob Saginowski finds himself at the center of ...  [18, 80]
4487  In 1982, André Bamberski learns about the deat...  [18, 80]
4827  Ben Campbell is a young, highly intelligent st...  [18, 80]
5015  After her husband deserts her, working-class m...  [18, 80]
5057  In 1991, a sheltered teenager comes of age dur...  [18, 80]
5986  Five different criminals face imminent death a...  [18, 80]
7245  Terrence McDonagh is a New Orleans Police serg...  [18, 80]
7696  As the global economy teeters on the brink of ...  [18, 80]
8466  A parolee falls for a reclusive movie star whi...  [18, 80]
9417  Inspired by actual events, a group of fame-obs...  [18, 80]
9647  After four college girls rob a restaurant to f...  [18, 80]

In [51]:
read_overview['genre_ids'] = read_overview['genre_ids'].apply(ast.literal_eval)

In [54]:
print(read_overview.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9980 entries, 0 to 9979
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   title      9980 non-null   object
 1   overview   9980 non-null   object
 2   genre_ids  9980 non-null   object
dtypes: object(3)
memory usage: 234.0+ KB
None

In [55]:
print(read_overview[read_overview['genre_ids'].apply(lambda row : 18 in row or 80 in row)])

                         title  \
0     The Shawshank Redemption
1                The Godfather
2        The Godfather Part II
3             Schindler's List
4                 12 Angry Men
...                        ...
9944                Melissa P.
9954        Dragon Wars: D-War
9969                    Swiped
9976               The Fanatic
9977                    SPF-18

                                               overview  \
0     Imprisoned in the 1940s for the double murder ...
1     Spanning the years 1945 to 1955, a chronicle o...
2     In the continuing saga of the Corleone crime f...
3     The true story of how businessman Oskar Schind...
4     The defense and the prosecution have rested an...
...                                                 ...
9944  An adolescent girl, living with her mother and...
9954  Based on the Korean legend, unknown creatures ...
9969  James, a college freshman and computer genius,...
9976  A rabid film fan stalks his favorite action he...
9977  18-year-old Penny Cooper spent years pining fo...

                      genre_ids
0                      [18, 80]
1                      [18, 80]
2                      [18, 80]
3               [18, 36, 10752]
4                          [18]
...                         ...
9944                       [18]
9954  [14, 18, 27, 28, 53, 878]
9969            [35, 18, 10749]
9976                   [80, 53]
9977                [10749, 18]

[5290 rows x 3 columns]

In [59]:
print(read_overview['genre_ids'].head(4))

0           [18, 80]
1           [18, 80]
2           [18, 80]
3    [18, 36, 10752]
Name: genre_ids, dtype: object

In [60]:
print(read_genres.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      19 non-null     int64
 1   name    19 non-null     object
dtypes: int64(1), object(1)
memory usage: 432.0+ bytes
None

In [61]:
read_genres = dict(zip(read_genres['id'], read_genres['name']))

In [62]:
print(read_genres)

{28: 'Action', 12: 'Adventure', 16: 'Animation', 35: 'Comedy', 80: 'Crime', 99: 'Documentary', 18: 'Drama', 10751: 'Family', 14: 'Fantasy', 36: 'History', 27: 'Horror', 10402: 'Music', 9648: 'Mystery', 10749: 'Romance', 878: 'Science Fiction', 10770: 'TV Movie', 53: 'Thriller', 10752: 'War', 37: 'Western'}

In [63]:
print(type(read_genres))

<class 'dict'>

In [64]:
read_overview['genre_ids'] = read_overview['genre_ids'].apply(lambda row: [read_genres.get(id, 'Unknown') for id in row])

In [65]:
print(read_overview.head(4))

                      title  \
0  The Shawshank Redemption
1             The Godfather
2     The Godfather Part II
3          Schindler's List

                                            overview              genre_ids
0  Imprisoned in the 1940s for the double murder ...         [Drama, Crime]
1  Spanning the years 1945 to 1955, a chronicle o...         [Drama, Crime]
2  In the continuing saga of the Corleone crime f...         [Drama, Crime]
3  The true story of how businessman Oskar Schind...  [Drama, History, War]